.body{ 
background-image:url("../img/signin2.jpg");
background-size: 1400px;
/* width: 1000px; */


}



.but{ 
    width: 410px;
    height: 38px;
        border-radius: 5px;
background-color:#786952 ;
}

.but:hover{
    color: burlywood;
    background-color:#198754 !important;
}

.cont{
    position: relative;
    /* top: 0px; */
}