.body{ 
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(14,174,87,1) 0%, rgba(12,116,117,1) 90% );
   
}

.but{ 
    width: 346px;
    height: 38px;
        border-radius: 5px;
background-color:#20c997 ;
}

.but:hover{
    color: burlywood;
    background-color:#198754 !important;
}