<!DOCTYPE html>
{%extends 'jobs/base.html'%}
{%block body_block%}
<style>
  body{
    background-color:dimgray;
  }
</style>
<!--<!-{{form.errors}} is used to display errors in form&ndash;&gt;-->
<div class="container">
  <div class="row">
    <div class="col-4"></div>
    <div class="col-6">
      <form action="" method="post" enctype="multipart/form-data">
          {%csrf_token%}
          {{form.as_p}}
          <button type="submit" class="btn btn-success">Apply</button> <span><a href="{%url 'viewcompanyprofile'%}">company profile</a></span>
      </form>
    </div>
    <div class="col-4">
        {%if messages%}
        {%for message in messages%}
        {{message}}
        {%endfor%}
        {%endif%}
    </div>
  </div>
</div>

{%endblock%}