<!DOCTYPE html>
{%extends 'jobs/base.html'%}
{%block body_block%}
<style>
    body{
        background-color: darkgray;
    }

</style>

<div class="container">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4"><h3>welcome {{request.user}} {{request.user.role}}</h3></div>
        <div class="col-4">


        </div>
    </div>
</div>

<div class="container-fluid mt-5">
    <div class="row">

    

        <a href="{%url 'addcompany'%}" class="btn-gra" style="width: 240px;"> ADD COMPANY</a> <br>
        <a href="{%url 'viewcompanyprofile'%}" class="btn-gra" style="width: 240px;"> VIEW COMPANY PROFILE</a> <br>
            <a href="{%url 'elistapplication'%}" class="btn-gra" style="width: 240px;">VIEW APPLICATIONS</a> <br>

                    <a href="{%url 'addjob'%}" class="btn-gra" style="width: 240px;">POST A JOB</a>
                    <a href="{%url 'listjob'%}" class="btn-gra" style="width: 240px;">VIEW ADDED JOBS</a> <br>
    </div>
</div>
{%endblock%}